@import "../../sass/base/colors";

#form1 {
	display: none;
}

#form2 {
	display: none;
}

h2 {
	margin-top: 100px;
}

#about_section {
	margin-top: 25px;
	img {
		width: 100%;
		margin-top: 20px;
	}
}

#owner_section {
	margin-top: 30px;
	#portrait_wrapper {
		display: flex;
		gap: 10px;
		align-items: center;
		img {
			width: 50%;
			z-index: -2;
		}
		#owner_desk_wrapper {
			display: flex;
			flex-direction: column;
			.citat {
				font-size: 1.3rem;
				line-height: 30px;
			}
			.citat_afsender {
				font-size: 1rem;
			}
		}
	}
	#torben_wrapper {
		background-color: $rain;
		padding: 5px 10px 20px;
		border-radius: 20px;
		position: relative;
		top: -30px;
		margin: 0 5px;
		z-index: -1;
	}
	#work_img {
		width: 70%;
		position: relative;
		top: -60px;
		float: right;
		margin-right: auto;
		//right: -105px;
		z-index: -2;
	}
}

#vision_section {
	clear: right;
	img {
		margin: 15px auto;
		width: 100%;
	}
}

@media only screen and (min-width: 760px) {
	#form1 {
		display: inline;
		z-index: -3;
		position: absolute;
		left: -5vw;
		top: 13vw;
		height: 100vw;
	}
	#form2 {
		display: inline;
		z-index: -3;
		position: absolute;
		top: 25vw;
		height: 60vw;
		right: -5vw;
	}
	#about_section {
		margin-top: 0;
		display: flex;
		gap: 30px;
		align-items: center;
		img {
			width: 50%;
		}
	}

	#owner_section {
		height: 700px;
		#portrait_wrapper {
			align-items: flex-start;
			#owner_desk_wrapper .citat {
				max-width: 400px;
				margin: 5px 0;
			}
			img {
				width: 35% !important;
			}
		}
		#torben_wrapper {
			max-width: 50vw;
			margin: 0 auto !important;
			padding: 10px 20px 20px !important;
			top: -10vw;
		}
		#work_img {
			width: 40%;
			z-index: -2;
			right: -54vw;
			top: -95vw;
			float: initial;
		}
	}
	#vision_section {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 60px;
		clear: none;
		margin-top: 20vw;
		img {
			width: 40%;
		}
	}
}

@media only screen and (min-width: 1000px) {
	h2 {
		margin-bottom: 0px;
	}
	#about_section img {
		margin-top: 0;
		width: 45%;
	}
	#owner_section {
		margin-top: 50px;
		#torben_wrapper {
			max-width: 43vw;
			top: -20vw;
		}
		#portrait_wrapper img {
			width: 30% !important;
		}
		#work_img {
			width: 35%;
			z-index: -2;
			right: -58vw;
			top: -50vw;
			float: initial;
		}
		.citat {
			margin: 20px 0 0 40px !important;
			font-size: 2rem !important;
			line-height: 50px !important;
		}
	}
	#vision_section {
		margin-top: 1vw;
	}
}
