@import "/src/sass/base/colors";
@import '/src/sass/base/buttons';

#back-button {
    margin: 1rem;
    width: fit-content;
}

.content-wrapper {
    padding: 0rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .login-input {
        width: 100%;
        border: solid 1px $sunset;
        border-radius: 24px;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .login-label {
        margin-left: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .login-section {
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .blue-section {
        background-color: $rain;
        padding: 1rem;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}