@import "./colors";

.CTA {
	border: none;
	background-color: $sunset;
	border-radius: 30px;
	padding: 15px 20px;
	color: $moonlight;
	margin: 15px 0;
	width: 190px;
	font-size: 1.3rem;
	font-weight: 400;
}

.CTA:hover {
	background-color: #ad552e;
}

.primaryButton {
	border: none;
	background-color: $sunset;
	border-radius: 30px;
	padding: 10px 20px;
	color: $moonlight;
	text-transform: uppercase;
	margin: 15px 0;
	min-width: 130px;
}

.secondaryButton {
	border: 2px solid $sunset;
	background-color: transparent;
	border-radius: 30px;
	padding: 10px 20px;
	color: $sunset;
	margin: 15px 0;
	min-width: 140px;
}
.secondaryButton:hover {
	background-color: $sunset;
	color: $cloud;
}

button:hover {
	cursor: pointer;
}
