@import "./colors";

.CTA {
	border: none;
	text-align: center;
	background-color: $sunset;
	border-radius: 10px;
	padding: 15px 20px;
	color: $cloud;
	margin: 15px 0;
	width: 200px;
	font-size: 1.3rem;
	font-weight: 400;
	box-shadow: 2px 2px 5px rgb(179, 179, 179);
	animation: out 0.3s 1 forwards ease-in-out;
	align-items: center;
}

.CTA .ctaLink {
	color: $moonlight;
}

.CTA:hover {
	background-color: #df7446;
	animation: in 0.3s 1 forwards ease-in-out;
}

@keyframes in {
	0% {
		transform: translateY(0);
		border-radius: 10px;
	}
	100% {
		transform: translateY(-8px);
		border-radius: 40px;
	}
}

@keyframes out {
	0% {
		transform: translateY(-8px);
		border-radius: 40px;
	}
	100% {
		transform: translateY(0);
		border-radius: 10px;
	}
}

.primaryButton {
	border: none;
	background-color: $sunset;
	border-radius: 30px;
	padding: 10px 20px;
	color: $moonlight;
	text-transform: uppercase;
	margin: 15px 0;
	min-width: 130px;
}

.secondaryButton {
	border: 2px solid $sunset;
	background-color: transparent;
	border-radius: 30px;
	padding: 10px 20px;
	color: $sunset;
	margin: 15px 0;
	min-width: 140px;
}
.secondaryButton:hover {
	background-color: $sunset;
	color: $cloud;
}

button:hover {
	cursor: pointer;
}
