@import "./colors";

h1 {
	text-transform: uppercase;
	font-size: 2rem;
	font-family: "Sarabun", sans-serif;
	color: $nightsky;
}

h2 {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-family: "Sarabun", sans-serif;
	color: $nightsky;
	margin: 10px 0 5px;
}

h3 {
	font-size: 1rem;
	font-weight: bold;
	font-family: "Sarabun", sans-serif;
	color: $eclipse;
}

p {
	font-family: "Sarabun", sans-serif;
	color: $eclipse;
	margin: 0;
	line-height: 22px;
	max-width: 600px;
}

button {
	font-size: 0.9rem;
	font-weight: bold;
}

.citat {
	color: $nightsky;
	font-size: 1.5rem;
	text-align: center;
	line-height: 35px;
	max-width: 650px;
	margin: 0 auto 15px;
}

.citat_afsender {
	font-style: italic;
	font-weight: 300;
	color: $fog;
	text-align: center;
	max-width: none;
}

a {
	font-family: "Sarabun", sans-serif;
	text-decoration: none;
	color: $nightsky;
}

@media only screen and (min-width: 900px) {
	h1 {
		font-size: 2.7rem;
	}
}
