@import "/src/sass/base/colors";

button {
	border: 2px solid $sunset;
	background-color: transparent;
	border-radius: 30px;
	padding: 10px 20px;
	color: $sunset;
	text-transform: uppercase;
	margin: 15px 0;
}

button:hover {
	cursor: pointer;
}
