@import "/src/sass/base/colors";

#forum-content {
    margin-top: 75px;
    #top-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 990px;
        margin: 10px auto;
    }
    #side-menu {
        display: none;

        #categories {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 0.5rem;
        }
    }

    #content {
        .question-box {
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-rows: 25% 75%;
            row-gap: 15px;
            background-color: $rain;
            padding: 1rem;
            border-radius: 24px;
            margin-bottom: 1rem;
                .comment-container{
                    display: flex;
                    gap: 7px;
                    justify-self: end;
                    p{
                        font-weight: 200;
                        color: $fog;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                    }

                }
                .profile-box {
                    display: flex;
                    gap: 1rem;
    
                    img {
                        border-radius: 50%;
                        height: 3rem;
                        width: 3rem;
                        margin-top: 15px;
                    }
    
                    .text-box {
                        display: flex;
                        flex-direction: column;
    
    
                        .profile-name {
                            color: $eclipse;
                            font-size: 1.2rem;
                            font-family: "Sarabun", sans-serif;
                            margin: 10px 0 0px;
                        }
    
                        .time-stamp {
                            color: $fog;
                            font-weight: thin;
    
                        }
                    }
                }
            
            .content-box {
                grid-column: 1 / span 2;
                .read-more {
                    color: $sunset;
                }
                .cats {
                    display: flex;
                    gap: 0.5rem;
                    margin-top: 1rem;
                    .cat {
                        width: 130px;
                        text-align: center;
                        font-size: 0.85rem;
                        border: solid 1px $nightsky;
                        padding: 0 10px;
                        border-radius: 8px;
                        color: $nightsky;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {

    .question-box{
        grid-template-columns: 20% 60% 18% !important;
        grid-template-rows: 100% 0% !important;
        row-gap: 0 !important;
        column-gap: 10px;
        .comment-container{
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
        }
        .content-box{
            grid-column: 2 / span 1 !important;
        }
    }
}