@import "/src/sass/base/colors";


#forum-content {
    margin: 75px auto 0;

    #top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        position: relative;

        button {
            margin: 10px 0;
        }

        #filter_icon {
            width: 45px;
            margin-left: 5px;
            cursor: pointer;
        }
    }

    .side-menu {
        background-color: $moonlight;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;

        #categories {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .category_wrapper {
                width: 100%;
            }

            .category_label {
                display: block;
                user-select: none;
                text-transform: none;
                //margin: 0 auto;
                color: $eclipse;
                padding: 4px 1rem;
                cursor: pointer;
                line-height: 30px;
                border: solid 1px $eclipse;
                border-radius: 25px;
                text-align: center;
                width: 140px;
            }

            .category_checkbox {
                position: absolute;
                opacity: 1;
                height: 0;
                width: 0;
            }

            .category_checkbox:checked~.category_label::before {
                background-image: url('/checkmark.svg');
                background-size: 40px 47px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 20px;
                height: 20px;
                content: "";
                margin-right: 7px;
                color: $nightsky;
            }

            .category_checkbox:checked~.category_label {
                color: $nightsky;
                border: solid 2px $nightsky;
            }
        }

        &.active {
            display: block;
        }
    }


    #content {
        max-width: none;

        .question-box {
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-rows: 25% 75%;
            row-gap: 15px;
            background-color: $rain;
            padding: 1rem;
            border-radius: 24px;
            margin-bottom: 1rem;

            .comment-container {
                display: flex;
                gap: 7px;
                justify-self: end;

                p {
                    font-weight: 200;
                    color: $fog;
                    font-size: 0.9rem;
                }

                img {
                    width: 30px;
                    height: 30px;
                }

            }

            .profile-box {
                display: flex;
                gap: 1rem;

                img {
                    border-radius: 50%;
                    height: 3rem;
                    width: 3rem;
                    margin-top: 15px;
                }

                .text-box {
                    display: flex;
                    flex-direction: column;


                    .profile-name {
                        color: $eclipse;
                        font-size: 1.2rem;
                        font-family: "Sarabun", sans-serif;
                        margin: 10px 0 0px;
                    }

                    .time-stamp {
                        color: $fog;
                        font-weight: thin;

                    }
                }
            }

            .content-box {
                grid-column: 1 / span 2;

                .read-more {
                    color: $sunset;
                }

                .cats {
                    display: flex;
                    gap: 0.5rem;
                    margin-top: 1rem;

                    .cat {
                        text-align: center;
                        font-size: 0.85rem;
                        border: solid 1px $fog;
                        padding: 0 15px;
                        border-radius: 5px;
                        color: $fog;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {

    #forum-content {
        display: grid;
        grid-template-columns: 145px 85%;
        grid-template-rows: 10% 90%;
        gap: 10px;

        #top-section {
            grid-column: 2 / span 1;
            width: 100%;

            #filter_icon {
                display: none;
            }
        }

        .side-menu {
            grid-column: 1 / span 1;
            display: block !important;
            background-color: none;
            width: auto;
            height: auto;
            position: unset;
            width: auto;
            height: auto;

            button {
                display: none;
            }

            #categories {
                h3 {
                    margin-bottom: 0;
                    font-size: 1rem;
                }

                .category_label {
                    margin: 0;
                }
            }

        }

        #content {
            grid-column: 2 / span 1;
            margin: 0 auto;

            .question-box {
                grid-template-columns: 20% auto 150px !important;
                grid-template-rows: 100% 0% !important;
                row-gap: 0 !important;
                column-gap: 10px;

                .comment-container {
                    grid-column: 3 / span 1;
                    grid-row: 1 / span 1;
                }

                .content-box {
                    grid-column: 2 / span 1 !important;
                }
            }
        }
    }
}

//effects
.no-scroll {
    overflow: hidden;
}

//animations

@media only screen and (max-width: 800px) {

    .side-menu.unactive {
        animation: filter-out 0.5s 1 forwards cubic-bezier(0.77, 0.56, 0.44, 0.99);
    }

    .side-menu.active {
        animation: filter-in 0.5s 1 forwards cubic-bezier(0.77, 0.56, 0.44, 0.99);
    }

    @keyframes filter-in {
        0% {
            transform: translateX(-100vw);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes filter-out {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100vw);
        }
    }
}