@import "/src/sass/base/colors";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav-wrapper {
	position: fixed;
	display: flex;
	top: 0;
	justify-content: center;
	width: 100%;
	padding: 0;
}

.Navbar {
	z-index: 100;
	height: 3.5rem;
	width: 100%;
	margin: 0 20px;
	padding: 10px 0 5px;
	border-bottom: solid 1.5px rgb(206, 206, 206);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logoContainer {
		height: 100%;
		margin-left: 60px;
		padding: 0;

		img {
			height: 100%;
		}
	}

	.rightWrapper {
		display: flex;
		height: 3rem;
		align-items: center;

		.nav-menu {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			list-style: none;
			margin-right: 60px;
			.nav-links {
				text-decoration: none;
				color: $nightsky;
			}
		}

		.profilePic {
			height: 1.8rem;
			width: 1.8rem;
			border-radius: 50%;
			background-color: black;
			margin-right: 1rem;
			float: right;
		}
	}
}

.activeLink::after {
	content: "";
	display: block;
	position: relative;
	top: 0.93rem;
	width: 100%;
	height: 3px;
	background-color: $nightsky;
}

@media screen and (max-width: 760px) {
	.Navbar {
		position: fixed;
		top: 0;
		background-color: $moonlight !important;
		.logoContainer {
			margin-left: 10px;
		}


		.nav-menu {
			display: flex !important;
			position: absolute !important;
			flex-direction: column;
			background-color: $moonlight;
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 3.5rem;
			left: 0;
			padding-top: 5vw;
			.nav-links {
				font-size: 2rem;
				line-height: 70px;
			}
		}
		.nav-menu.not-active {
			animation: menu-out 0.8s 1 forwards cubic-bezier(0.77, 0.56, 0.44, 0.99);
		}

		.nav-menu.active {
			animation: menu-in 0.8s 1 forwards cubic-bezier(0.77, 0.56, 0.44, 0.99);
		}

		@keyframes menu-in {
			0% {
				transform: translateX(100vw);
			}
			100% {
				transform: translateX(0);
			}
		}

		@keyframes menu-out {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(100vw);
			}
		}

		.activeLink::after {
			display: none;
		}
	}
}