@import "/src/sass/base/colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
}

.nav-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Navbar {
    z-index: 100;
    height: 3rem;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: solid 1.5px $fog;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logoContainer {
        height: 100%;
        margin-left: 1rem;

    }

    .menu-icon {
        height: 100%;
        align-items: center;
        display: none;
        margin-right: 0.8rem;
    }

    .rightWrapper {
        display: flex;
        height: 3rem;
        align-items: center;

        .nav-menu {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;
            margin-right: 1rem;

            .nav-links {
                text-decoration: none;
                color: $nightsky;
            }
        }

        .profilePic {
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            background-color: black;
            margin-right: 1rem;
            float: right;
        }
    }

}

.nav-button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    height: 100%;
}

.activeLink::after {
    content: "";
    display: block;
    position: relative;
    top: 0.9rem;
    width: 100%;
    height: 3px;
    background-color: $nightsky;
}

.close {
    height: 1.8rem;
    width: 1.8rem;
    background-color: red;
    display: block;
}

.menu {
    height: 1.8rem;
    width: 1.8rem;
    background-color: green;
    display: block;
}

@media screen and (max-width: 760px) {
    .Navbar {
        position: fixed;
        background-color: $moonlight  !important;

        .rightWrapper {
            height: auto;

            .menu-icon {
                display: flex;
            }

            .nav-menu {
                flex-direction: column;
                width: 100%;
                height: auto;
                position: fixed;
                padding: 2rem;
                top: 3rem;
                left: -100%;
                opacity: 1;
                transition: all 0.5s ease;

                .nav-links {
                    text-align: center;
                    width: 100%;
                    height: auto;
                }
            }
        }



        .nav-menu.active {
            background-color: $moonlight;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 100;
        }

        .activeLink::after {
            display: none;
        }





    }


}