@import '../../sass/base/colors';

.sort_container{
    display: block;
    border: 2px solid $nightsky;
    border-radius: 30px;
    padding: 2.5px 25px;
    width: 420px;
    height: 40px;
    position: relative;
    .sort_wrapper{
        display: flex;
        justify-content: space-between;
        height: 34px;
        p{
            cursor: pointer;
        }
    }
    .active_sort{
        background-color: $nightsky;
        width: 100px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 30px;
        margin-left: 0;
        transition: .3s ease-in-out;
    }
}

.active{
    color: $moonlight;
    transition: .3s ease-in-out;
}

.newest.active ~ .active_sort{
    margin-left: -1px !important;
 }

.oldest.active ~ .active_sort{
    margin-left: 87px !important;
 }

 .unanswered.active ~ .active_sort{
    margin-left: 194px !important;
 }

 .answered.active ~ .active_sort{
    margin-left: 317px !important;
 }


 @media only screen and (max-width: 800px){

.sort_container{
    display: none;
}
 }


